body, html {
  position: relative;
  height: 100%;
  margin: 0;
  color: whitesmoke;
  background: #222;
  font-family: 'Ubuntu Mono', monospace; }
  body #loader-wrapper, html #loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000; }
    body #loader-wrapper #loader, html #loader-wrapper #loader {
      display: block;
      position: relative;
      left: 50%;
      top: 50%;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border: 3px solid transparent;
      z-index: 1001;
      border-radius: 50%;
      box-shadow: 2px 2px 2px 2px blue;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite; }
    body #loader-wrapper #loader:before, html #loader-wrapper #loader:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border: 3px solid transparent;
      box-shadow: 2px 2px 2px 2px red;
      border-radius: 50%;
      -webkit-animation: spin 3s linear infinite;
      animation: spin 3s linear infinite; }
    body #loader-wrapper #loader:after, html #loader-wrapper #loader:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border: 3px solid transparent;
      box-shadow: 2px 2px 2px 2px yellow;
      border-radius: 50%;
      -webkit-animation: spin 1s linear infinite;
      animation: spin 1s linear infinite; }
    body #loader-wrapper .loader-section, html #loader-wrapper .loader-section {
      position: fixed;
      top: 0;
      width: 51%;
      height: 100%;
      background: #222222;
      z-index: 1000; }
    body #loader-wrapper .loader-section.section-left, html #loader-wrapper .loader-section.section-left {
      left: 0; }
    body #loader-wrapper .loader-section.section-right, html #loader-wrapper .loader-section.section-right {
      right: 0; }

.loaded #loader {
  opacity: 0;
  webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out; }
  .loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);
    /* IE 9 */
    transform: translateX(-100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.3s 0.3s ease-out;
    transition: all 0.3s 0.3s ease-out;
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);
    /* IE 9 */
    transform: translateX(100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.3s 0.3s ease-out;
    transition: all 0.3s 0.3s ease-out;
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

header {
  color: white;
  font-family: 'Ubuntu Mono', monospace;
  background: url("img/prog2_blur.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150vh; }
  header nav.navbar {
    background: #222;
    opacity: 0.9;
    display: none; }
  header div ul.navbar-nav li a {
    font-size: 1.2em;
    border-bottom: 3px solid #9b0c02; }
  header .active {
    background: whitesmoke;
    color: #222 !important;
    border-bottom: 3px solid #9b0c02; }
  header .intro {
    position: relative;
    color: white;
    height: 70%;
    width: 100%;
    font-family: 'Ubuntu Mono', monospace;
    /* Center and scale the image nicely */ }
    header .intro .down {
      position: relative;
      top: 80%; }
    header .intro .type {
      position: relative;
      top: 40%;
      display: flex;
      justify-content: center;
      flex-flow: row wrap; }
      header .intro .type h1 {
        flex: 1 1 100%;
        text-align: center;
        color: aliceblue;
        font-size: 5em; }
      header .intro .type h2 {
        align-self: center;
        text-align: center; }

.typed-cursor {
  font-size: 25px;
  animation: blinker 1s linear infinite; }

@keyframes blinker {
  50% {
    opacity: 0; } }
body h1 {
  font-size: 4em; }
body #About {
  background-color: #9b0c02;
  padding-top: 5%;
  margin-bottom: 5%; }
  body #About .container hr {
    border-top: 3px solid #222;
    width: 15%;
    color: white;
    margin-bottom: 30px; }
  body #About .container p {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.4em; }
  body #About .container .certificates .row .col-sm-6 img {
    opacity: 1; }
  body #About .container .certificates .row .col-sm-6:nth-of-type(2) img {
    max-height: 434px; }
body main #skill {
  padding-top: 5%;
  padding-bottom: 5%; }
  body main #skill hr {
    border-top: 1px solid red;
    width: 15%;
    color: white;
    margin-bottom: 30px; }
  body main #skill p {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.4em; }
  body main #skill .row {
    margin: 5%; }
    body main #skill .row .col-lg-6 .skill-current {
      display: flex; }
      body main #skill .row .col-lg-6 .skill-current svg {
        width: 100px;
        height: 100px; }
      body main #skill .row .col-lg-6 .skill-current .skill-display {
        margin-left: 5%;
        display: flex;
        flex-flow: column wrap; }
        body main #skill .row .col-lg-6 .skill-current .skill-display .skill-bar {
          height: 20px;
          width: 300px;
          position: relative;
          top: 40px;
          border-radius: 5%;
          font-size: 0.8em; }
          body main #skill .row .col-lg-6 .skill-current .skill-display .skill-bar #HTML {
            background: #f16529; }
          body main #skill .row .col-lg-6 .skill-current .skill-display .skill-bar #CSS {
            background: #33a9dc; }
          body main #skill .row .col-lg-6 .skill-current .skill-display .skill-bar #JS {
            background: #f0db4f; }
          body main #skill .row .col-lg-6 .skill-current .skill-display .skill-bar #jQuery {
            background: #0868ac; }
          body main #skill .row .col-lg-6 .skill-current .skill-display .skill-bar #BS {
            background: #5b4282; }
          body main #skill .row .col-lg-6 .skill-current .skill-display .skill-bar #SASS {
            background: #cb6699; }
          body main #skill .row .col-lg-6 .skill-current .skill-display .skill-bar #Git {
            background: #f34f29; }
          body main #skill .row .col-lg-6 .skill-current .skill-display .skill-bar #Python1 {
            background: #35709F; }
          body main #skill .row .col-lg-6 .skill-current .skill-display .skill-bar #Python2 {
            background: #FFD949; }
  body main #skill .row:nth-of-type(even) {
    position: relative;
    left: 10%; }
  body main #skill .row:nth-of-type(odd) {
    position: relative;
    left: -5%; }
  body main #skill .skill-learning {
    margin-top: 10%; }
    body main #skill .skill-learning hr {
      border-top: 3px solid #9b0c02;
      width: 15%;
      color: white;
      margin-bottom: 30px; }
    body main #skill .skill-learning .row {
      position: relative;
      left: 0; }
body #Projects {
  padding-top: 5%;
  background: #9b0c02; }
  body #Projects hr {
    border-top: 3px solid #222;
    width: 15%;
    color: white;
    margin-bottom: 30px; }
  body #Projects main .row {
    margin: 3%; }
    body #Projects main .row .col-lg-6 {
      text-align: center; }
      body #Projects main .row .col-lg-6 figure {
        overflow: hidden; }
        body #Projects main .row .col-lg-6 figure img {
          background: #222; }
        body #Projects main .row .col-lg-6 figure .img-hover:hover {
          opacity: 0.3; }
        body #Projects main .row .col-lg-6 figure figcaption {
          display: none;
          border: 1px solid transparent;
          border-radius: 0.25rem;
          padding: 0.25rem;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: 0 auto;
          width: 70%;
          height: 90%;
          box-sizing: border-box;
          overflow: hidden;
          opacity: 1;
          z-index: 1000;
          justify-content: center;
          flex-flow: row wrap;
          align-items: center; }
          body #Projects main .row .col-lg-6 figure figcaption h3 {
            font-size: 2rem;
            flex: 1 1 100%; }
          body #Projects main .row .col-lg-6 figure figcaption p {
            background: #222;
            flex: 1 1 100%; }
          body #Projects main .row .col-lg-6 figure figcaption p:nth-of-type(2) {
            flex: 1 1 100%; }
          body #Projects main .row .col-lg-6 figure figcaption a {
            display: inline-block;
            width: 50%;
            flex: 0 1 50%; }
body .hire {
  position: relative; }
  body .hire .container-fluid {
    background: url("img/hire2.jpg");
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center; }
    body .hire .container-fluid .hire-text {
      position: relative;
      top: 25%; }
      body .hire .container-fluid .hire-text h1 {
        font-size: 3rem; }
      body .hire .container-fluid .hire-text a {
        margin-top: 3%; }
body #contact {
  padding: 3% 0;
  background: #9b0c02;
  color: whitesmoke; }
  body #contact .container hr {
    border-top: 3px solid #222;
    width: 25%;
    color: white;
    margin-bottom: 30px; }
  body #contact .container p {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.4em;
    margin: 0 auto;
    width: 60%;
    line-height: 40px;
    margin-bottom: 5%; }
  body #contact .container form {
    margin: 0 auto;
    width: 60%; }
    body #contact .container form #after-submit {
      display: none; }
      body #contact .container form #after-submit p {
        background: #28a745;
        color: white;
        border-radius: .25rem; }
    body #contact .container form input {
      margin: 2% 0; }
    body #contact .container form button {
      margin: 5% auto; }
body footer .social-links {
  margin: 3% 0; }
  body footer .social-links a {
    color: white; }
  body footer .social-links a:hover {
    color: #9b0c02; }

svg {
  width: 100px;
  height: 100px; }

@media screen and (max-width: 768px) {
  .hire-text a {
    font-size: 0.75em; }

  h3 {
    font-size: 1rem !important; }

  h1, h2 {
    font-size: 2.2em !important; }

  figcaption p {
    font-size: 0.75rem !important; }

  figcaption a {
    width: auto !important; }

  .navbar .navbar-collapse {
    background: black;
    z-index: 1000;
    position: absolute;
    width: 100%;
    top: 1px;
    left: -1px; }

  .nav-link {
    padding-left: 23px !important; }

  body main #skill .container .row .col-lg-6 .skill-current .skill-display .skill-bar {
    width: 200px; } }
@media screen and (max-width: 990px) {
  body main #skill .container .row {
    position: relative;
    left: 0%; }
    body main #skill .container .row .col-lg-6 {
      margin: 3%; } }
@media screen and (max-width: 420px) {
  figure.img-fluid figcaption p {
    display: none; }

  h1, h2 {
    font-size: 1.4em !important; }

  p {
    font-size: 1em !important; }

  header .intro .type {
    position: relative;
    top: 35%; }
    header .intro .type h1 {
      font-size: 3em !important; }

  body main #skill .container .row .col-lg-6 .skill-current .skill-display .skill-bar {
    width: 120px; } }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */ }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */ } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */ }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(-360deg);
    /* Firefox 16+, IE 10+, Opera */ } }

/*# sourceMappingURL=style.css.map */
