body, html {
  height: 100%;
  margin: 0; }
  body #loader-wrapper, html #loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000; }
    body #loader-wrapper #loader, html #loader-wrapper #loader {
      display: block;
      position: relative;
      left: 50%;
      top: 50%;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border: 3px solid transparent;
      z-index: 1001;
      border-radius: 50%;
      box-shadow: 2px 2px 2px 2px blue;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite; }
    body #loader-wrapper #loader:before, html #loader-wrapper #loader:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border: 3px solid transparent;
      box-shadow: 2px 2px 2px 2px red;
      border-radius: 50%;
      -webkit-animation: spin 3s linear infinite;
      animation: spin 3s linear infinite; }
    body #loader-wrapper #loader:after, html #loader-wrapper #loader:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border: 3px solid transparent;
      box-shadow: 2px 2px 2px 2px yellow;
      border-radius: 50%;
      -webkit-animation: spin 1s linear infinite;
      animation: spin 1s linear infinite; }
    body #loader-wrapper .loader-section, html #loader-wrapper .loader-section {
      position: fixed;
      top: 0;
      width: 51%;
      height: 100%;
      background: #222222;
      z-index: 1000; }
    body #loader-wrapper .loader-section.section-left, html #loader-wrapper .loader-section.section-left {
      left: 0; }
    body #loader-wrapper .loader-section.section-right, html #loader-wrapper .loader-section.section-right {
      right: 0; }

.loaded #loader {
  opacity: 0;
  webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out; }
  .loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);
    /* IE 9 */
    transform: translateX(-100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.3s 0.3s ease-out;
    transition: all 0.3s 0.3s ease-out;
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);
    /* IE 9 */
    transform: translateX(100%);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.3s 0.3s ease-out;
    transition: all 0.3s 0.3s ease-out;
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

header .intro {
  color: white;
  height: 100vh;
  width: 100%;
  background: url("img/prog2_blur.jpg");
  font-family: 'Ubuntu Mono', monospace;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  header .intro .type {
    position: relative;
    top: 40%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap; }
    header .intro .type h1 {
      flex: 1 1 100%;
      text-align: center;
      color: aliceblue;
      font-size: 4em; }
    header .intro .type h2 {
      align-self: center;
      text-align: center; }

.typed-cursor {
  font-size: 25px;
  animation: blinker 1s linear infinite; }

@keyframes blinker {
  50% {
    opacity: 0; } }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */ }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */ } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */ }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(-360deg);
    /* Firefox 16+, IE 10+, Opera */ } }
@media (max-width: 400px) {
  header .intro .type {
    position: relative;
    top: 35%; }
    header .intro .type h1 {
      font-size: 3em; } }

/*# sourceMappingURL=style.css.map */
